.container {
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}


@media screen and (max-width: 600px){ 
.wrapper {
   grid-template-columns: repeat(auto-fit, maxmin(14rem, 16rem))
}
.card {
flex-direction:column;
text-align: center;
min-width: 14rem
}
}
