.card {
  overflow: hidden;
  box-shadow: 0 2px 20px grey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: transform 200ms ease-in;
  text-align: center;
}

.cardTitle {
  padding: 1rem;
}

.cardDescription {
  padding: 0 1rem;
}

.card:hover {
  transform: scale(1.02);
}

.cardBody {
  position: "relative";
}
