.container {
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}
.cardTop {
  display: flex;
  justify-content: space-around;
}

.details {
  display: flex;
  flex-direction: column;
}
