@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, body * { 
  font-family: 'Roboto', sans-serif;
  color:inherit;
  background-color:inherit;
 font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
background: transparent;
border: none;
cursor: pointer;
padding: 0;
}

button:hover,
button:focus {
  background:transparent;
}

button:focus {
  outline: none;

}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.contentWrap {
  padding-bottom: 200px;
}

::selection {
  background-color: #f7c151;
}

input[type="text"] {
  width: 100%;
  border: none;
  padding: 10px;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}