@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.home {
  display: flex;
  justify-content: space-around;
}

.rightSide {
  text-align: center;
  padding-top: 100px;
}

.leftSide {
  padding-top: 100px;
}

.titleText {
  white-space: pre;
  font-size: 5vw;
  font-family: "Chewy";
  color: #0c0c40;
}

.altColour {
  color: #06b23c;
}

.subText {
  font-weight: 1000;
  color: #0c0c40;
}

.link {
  border: 3px solid black;
  background-color: #f7c151;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  transition: background-color 1s, color 1s, border 1s;
}

.link:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 3px solid #000000;
}

/* .home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.headerContainer {
  width: auto;
  margin-left: 50px;
}
.title {
  justify-content: center;
  line-height: 0 !important;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: #0c0c40;
  font-family: "Chewy", cursive;
}
.titleContainer {
  display: flex;
  flex-direction: row;
}

.titleAlt {
  color: #06b23c;
}

.text {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: orange;
}

.link {
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-color: #f7c151;
  padding: 5px;
  height: 35px;
  width: 180px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.link:hover {
  background: orange;
  color: white;
} */
/* @media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }
  /* .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }
  .headerContainer p {
    font-size: 30px;
    color: white;
  } 
  
}z */ ;
