@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navitem {
  margin-left: 5rem;
}

.navlink {
  font-family: "Chewy", cursive;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.navlink:hover {
  color: inherit;
  border-bottom: #f7c151 4px solid;
}

@media only screen and (max-width: 968px) {
  .navmenu {
    position: absolute;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    z-index: 2;
    /* max-width: 100%; */
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
