@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.infoSubmit {
  background-color: rgb(248, 248, 248);
  padding: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.inputContainer {
  border-bottom: 4px solid #f7c151;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.submitTitle {
  font-family: "Chewy";
  padding-bottom: 50px;
}

.input {
  color: green;
  text-align: center;
}

.imageContainer {
  background-color: black;
  height: 1000px;
  width: 1000px;
}
