.container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.addPost {
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #f7c151;
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
}
.addPost:hover {
  background-color: #dfa633;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 30px 20px;
  }
}
.postInput {
  background-color: rgb(248, 248, 248);
  padding: 100px;
  border-radius: 20px;
  min-width: 600px;
}

.inputTitle {
  font-family: "Chewy";
  font-size: 2em;
}

.inputContainer {
  border-bottom: 4px solid #f7c151;
}

.postDisplay {
  text-align: center;
  max-width: 600px;
  min-width: 600px;
}
@media (max-width: 768px) {
  .postDisplay {
    margin: 30px 0;
  }
  .postInput {
    margin: 0 auto;
  }
}
